/* 스크롤 부드럽게 이동 */
html {
  scroll-behavior: smooth;
}

.ksc-wrap .data-wrap {
  visibility: hidden;
  width: 0;
  height: 0;
}
.ksc-wrap .data-wrap.on {
  visibility: visible;
  width: 100%;
  height: 100%;
}

.ksc-wrap .guide-wrap {
  margin-top: 40px;
}
.ksc-wrap .guide-wrap.on {
  display: none;
}
.ksc-wrap .btn01 {
  border-radius: 0 20px 0 20px;
}
.ksc-wrap .table_col {
  background-color: transparent;
}

.ksc-wrap .table_col tbody th,
.ksc-wrap .table_col tbody td {
  color: #111;
}
.ksc-wrap .table_col thead tr:first-child th {
  background: #f2ddc7;
}

/* box degign */
.gray-box {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
}
.gray-box b {
  font-size: 20px;
}

.location_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sequence_box_wrap.with_icon {
  margin-bottom: 50px;
}
.sequence_box_wrap.with_icon ul li {
  display: block;
  min-height: auto;
  padding: 0;
  border-radius: 15px;
}
.sequence_box_wrap.with_icon ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  border-radius: 15px;
}
.sequence_box_wrap.with_icon ul li a:hover {
  background-color: #3e9d39;
}
.sequence_box_wrap.with_icon ul li a:hover .icon_box {
  background-color: #fff;
}
.sequence_box_wrap.with_icon ul li a:hover p {
  color: #fff;
}
.sequence_box_wrap.with_icon ul li .step {
  padding-bottom: 0;
}
.with_icon .icon_box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.with_icon .icon_box img {
  width: 80%;
}
.with_icon p {
  text-align: left;
  font-weight: bold;
}

.localbox-wrap {
  width: 100%;
  display: block;
  padding-left: 50px;
  border-bottom: 0;
  box-sizing: border-box;
}
.localbox-wrap .sub_title {
  margin-top: 0;
  position: relative;
}
.localbox-wrap .sub_title .btn01 {
  position: absolute;
  top: -10px;
  right: 0;
  margin: 0;
  font-size: 18px;
}
.localbox-wrap .linebox {
  border: 1px solid #d9d9d9;
  border-radius: 0 0 15px 15px;
  margin-top: 30px;
}
.localbox-wrap .topbox {
  padding: 15px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d9d9d9;
}
.localbox-wrap .topbox h5 {
  font-size: 20px;
  font-weight: bold;
  color: #579a47;
}
.localbox-wrap .botbox {
  display: flex;
  padding: 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.localbox-wrap .botbox.one-item {
  row-gap: 0;
  column-gap: 0;
}
.localbox-wrap .botbox.one-item .data-box,
.localbox-wrap .botbox.one-item .chartbox {
  width: 100%;
}
.localbox-wrap .botbox .btn01 {
  margin: 0;
}
.localbox-wrap .data-box,
.localbox-wrap .chartbox {
  width: calc(50% - 10px);
}

.localbox-wrap .guide-text {
  color: #666;
  font-size: 12px;
  text-align: right;
  margin-left: auto;
}

.localbox-wrap .box-title {
  font-size: 18px;
  font-weight: bold;
}
.localbox-wrap .card-wrap {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 50px 20px;
}
.localbox-wrap .card-wrap .card {
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.localbox-wrap .card-wrap.row .card .icon-box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.localbox-wrap .card-wrap.row .card .icon-box img {
  object-fit: cover;
}
.localbox-wrap .card-wrap.row .card .text-box {
  width: 70px;
  text-align: center;
}
.localbox-wrap .card-wrap.row .card .text-box strong {
  font-size: 30px;
}
.localbox-wrap .card-wrap.column {
  /* margin: 20px auto; */
  margin: 20px auto 0;
}
.localbox-wrap .card-wrap.column .card {
  display: block;
  text-align: center;
}
.localbox-wrap .card-wrap.column .card .icon-box {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}
.localbox-wrap .card-wrap.column .card .text-box {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.localbox-wrap .card-wrap.column .card .text-box + .text-box {
  margin-top: 10px;
}
.localbox-wrap .card-wrap.column .card .text-box p {
  font-size: 16px;
  text-align: left;
}
.localbox-wrap .card-wrap.column .card .text-box p span {
  font-size: 14px;
}
.localbox-wrap .card-wrap.column .card .text-box strong {
  display: block;
  text-align: right;
}

/* avatar */
.avatar-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  margin: 0 20px;
}
.avatar-list + .avatar-list {
  margin-top: 20px;
}
.avatar-list > p {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}
.avatar-box {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.avatar-box .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.avatar-box .avatar img {
  object-fit: cover;
}
.avatar-box .avatar + div {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 7px;
  box-sizing: border-box;
}
.avatar-box .avatar + div p {
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  padding-left: 80px;
}
.avatar-box span {
  font-size: 16px;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: right;
  margin-top: 10px;
}
.avatar.green + div {
  border: 2px solid #679851;
}
.avatar.green + div p {
  color: #679851;
}
.avatar.yellow + div {
  border: 2px solid #e7af53;
}
.avatar.yellow + div p {
  color: #e7af53;
}

/* table */
.localbox-wrap .table_box {
  width: 100%;
  margin-bottom: 0;
}

/* list */
.dot-list li {
  padding-left: 10px;
  position: relative;
}
.dot-list li:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #111;
  position: absolute;
  left: 0;
  top: 10px;
}

.localbox-wrap .recommend-box {
  width: 100%;
}
.localbox-wrap .recommend-box h5 {
  font-size: 30px;
  font-weight: bold;
}
.localbox-wrap .recommend-box h5 span {
  color: #579a47;
}
.recommend-box .recommend-inner {
  display: flex;
}
.recommend-box .image-box {
  width: 375px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}
.recommend-box .image-box img {
  object-fit: contain;
}
.recommend-box .image-box p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 12px;
}
.recommend-box .contents-box {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 30px;
}

.recommend-box .contents-box ul {
  margin-top: 30px;
}
.recommend-box .contents-box ul li + li a {
  border-top: 0;
}
.recommend-box .contents-box ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #3e9d39;
  background-color: #e6f0e5;
  padding: 10px;
  box-sizing: border-box;
}
.recommend-box .contents-box ul li .top {
  text-align: left;
  color: #3e9d39;
  font-weight: bold;
}
.recommend-box .contents-box ul li a em {
  width: 15px;
  height: 15px;
  background-image: url(../images/icon/icon-arrow-down.png);
  background-repeat: no-repeat;
  background-size: 15px;
  filter: brightness(0) saturate(100%) invert(50%) sepia(10%) saturate(2987%)
    hue-rotate(69deg) brightness(100%) contrast(88%);
}
.recommend-box .contents-box ul li div {
  height: 0px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-top: 0;
  overflow: hidden;
  display: none;
  border: 1px solid #3e9d39;
  border-top: 0;
}
.recommend-box .contents-box ul li.on a {
  background-color: #3e9d39;
}
.recommend-box .contents-box ul li.on a .top {
  color: #fff;
}
.recommend-box .contents-box ul li.on a em {
  /* transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1496%)
    hue-rotate(128deg) brightness(115%) contrast(100%); */
  display: none;
}
.recommend-box .contents-box ul li.on div {
  height: 100%;
  display: block;
}

.recommend-box .rank-box {
  display: flex;
  gap: 20px;
}
.recommend-box .rank-box .thumbox {
  width: 120px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.recommend-box .rank-box .thumbox img {
  width: 120px;
  height: 160px;
  object-fit: cover;
}
.recommend-box .rank-box .thumbox p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 10px;
}
.recommend-box .rank-box a b {
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.recommend-box .rank-box a span {
  color: #3e9d39;
}
.recommend-box .slide_wrap {
  width: 400px;
  margin: 0 auto;
  margin-top: auto;
  flex-shrink: 0;
}
.recommend-box .slide_wrap .img-box {
  width: 280px;
  height: 380px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #666;
}
.recommend-box .slide_wrap .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recommend-box .slide_wrap .slide_txt {
  width: 280px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
.recommend-box .slide_wrap .bx-prev,
.recommend-box .slide_wrap .bx-next {
  top: 34%;
}
.recommend-box .slide_wrap .bx-prev {
  width: 50px;
  height: 50px;
  background-image: url("../images/icon/icon-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
}

.recommend-box .slide_wrap .bx-next {
  width: 50px;
  height: 50px;
  background-image: url("../images/icon/icon-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  right: 0;
}
.recommend-box .slide_wrap .pdf-link {
  width: 280px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.recommend-box .slide_wrap .pdf-link a {
  width: 50%;
  border: 1px solid #ddd;
  background: #fff;
  color: #666 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* quickmenu */
.localpage-quickmenu {
  width: 90px;
  position: fixed;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  z-index: 9998;
}
.localpage-quickmenu .top-text {
  background-color: #3e9d39;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
.localpage-quickmenu ul {
  padding: 20px 0;
  border: 1px solid #3e9d39;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}
.localpage-quickmenu ul li + li {
  margin-top: 20px;
}
.localpage-quickmenu ul li a {
  text-align: center;
}
.localpage-quickmenu ul li a img {
  display: block;
  margin: 0 auto;
}
.localpage-quickmenu ul li a p {
  font-size: 14px;
  padding-top: 5px;
}
.localpage-quickmenu .top {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f7cb70;
  border: 1px solid #111;
  color: #111;
  margin: 0 auto;
  margin-top: 10px;
}
